# dependencies
node_modules

# testing
coverage
junit.xml

# production
build

# misc
.DS_Store
npm-debug.log
consoleScripts.js
.env.local

.idea

.coveralls.yml

start-docker-test.sh

output.log

.env.production
liquidator-mumbai.production.env
